USE [BDVentas]
ALTER TABLE [dbo].[tblVentas] REBUILD PARTITION = ALL
WITH 
(DATA_COMPRESSION = PAGE
)
GO

USE [BDVentas]
ALTER TABLE [dbo].[tblVentas_dETALLE] REBUILD PARTITION = ALL
WITH 
(DATA_COMPRESSION = PAGE
)

